/* Item.css */
.paciente {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  background-color: #f6fff7;
  border-top: 2px solid #2d7033;
  border-bottom: 2px solid #2d7033;
  padding: 10px 15px;
  color: #2d7033;
}

span {
  max-width: fit-content;
}

.nome {
  font-weight: bold;
  flex: 1;
}

.curso {
  margin: 0 20px;
  font-size: 14px;
  white-space: nowrap;
}

.botoespaciente {
  display: flex;
  width: fit-content;
  gap: 0.8rem;
}