.paciente {
  display: flex;
  align-items: center;
  border-top: 2px solid #2d7033;
  border-bottom: 2px solid #2d7033;
  padding: 10px 15px;
  background-color: #f6fff7;
  color: #2d7033;
}

.coluna {
  flex: 1;             
  text-align: center;    
}

.nome {
  font-weight: bold;
  flex: 2;             
}

.curso {
  font-size: 14px;
  flex: 2;              
  white-space: nowrap;  
}

.botoespaciente {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
