@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.botao {
  margin: 0;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-family: 'Itim', cursive;
}

.claro {
  background-color: #e6f4ea;
  color: #1a4b2c;
}

.escuro {
  background-color: #48754F;
  color: white;
}

.vazado {
  background-color: transparent;
  color: #1a4b2c;
  border: 2px solid #1a4b2c;
}

