.header {
  display: flex;
  background-color: #4a7351;
  padding: 20px 40px;
  color: white;
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  justify-content: space-evenly;
  min-width: 100vh;
}